<div class="artistlistcontainer">
    <div class="artistlistinner">
        <p class="artistlistletter">A</p>
        <div [ngClass]="{'artistlistfull' : innerWidth>996,
                         'artistlisttablet' : innerWidth<997 && innerWidth>767, 
                         'artistlistmobile' : innerWidth<768}">
            <div>
                Adam Blackstone
            </div>
            <div>
                Adam Neely
            </div>
            <div>
                Alessandro Cortini
            </div>
            <div>
                Ana Karina Sebastiao
            </div>
            <div>
                Angie Swan
            </div>
            <div>
                Artur Menezes
            </div>
        </div>
    </div>
    <hr>
    <div class="artistlistinner">
        <p class="artistlistletter">B</p>
        <div [ngClass]="{'artistlistfull' : innerWidth>996,
                         'artistlisttablet' : innerWidth<997 && innerWidth>767, 
                         'artistlistmobile' : innerWidth<768}">
            <div>
                Bob Dylan
            </div>
            <div>
                Bobby Wooten III
            </div>
            <div>
                Brian Frasier-Moore
            </div>
        </div>
    </div>
    <hr>
    <div class="artistlistinner">
        <p class="artistlistletter">C</p>
        <div [ngClass]="{'artistlistfull' : innerWidth>996,
                         'artistlisttablet' : innerWidth<997 && innerWidth>767, 
                         'artistlistmobile' : innerWidth<768}">
            <div>
                Calvin Rodgers
            </div>
            <div>
                Camilla Charlesworth
            </div>
            <div>
                Chris Rocha
            </div>
            <div>
                Cory Wong
            </div>
        </div>
    </div>
    <hr>
    <div class="artistlistinner">
        <p class="artistlistletter">D</p>
        <div [ngClass]="{'artistlistfull' : innerWidth>996,
                         'artistlisttablet' : innerWidth<997 && innerWidth>767, 
                         'artistlistmobile' : innerWidth<768}">
            <div>
                Daniel Bailey
            </div>
            <div>
                Daru Jones
            </div>
            <div>
                Dave Swift
            </div>
            <div>
                DJ Clark Kent
            </div>
            <div>
                Doug Wimbish
            </div>
            <div>
                Dylan Dunlap
            </div>
        </div>
    </div>
    <hr>
    <div class="artistlistinner">
        <p class="artistlistletter">E</p>
        <div [ngClass]="{'artistlistfull' : innerWidth>996,
                         'artistlisttablet' : innerWidth<997 && innerWidth>767, 
                         'artistlistmobile' : innerWidth<768}">
            <div>
                Elevation Worship
            </div>
        </div>
    </div>
    <hr>
    <div class="artistlistinner">
        <p class="artistlistletter">F</p>
        <div [ngClass]="{'artistlistfull' : innerWidth>996,
                         'artistlisttablet' : innerWidth<997 && innerWidth>767, 
                         'artistlistmobile' : innerWidth<768}">
            <div>
                Frank Bello
            </div>
        </div>
    </div>
    <hr>
    <div class="artistlistinner">
        <p class="artistlistletter">G</p>
        <div [ngClass]="{'artistlistfull' : innerWidth>996,
                         'artistlisttablet' : innerWidth<997 && innerWidth>767, 
                         'artistlistmobile' : innerWidth<768}">
            <div>
                German Martinez
            </div>
        </div>
    </div>
    <hr>
    <div class="artistlistinner">
        <p class="artistlistletter">J</p>
        <div [ngClass]="{'artistlistfull' : innerWidth>996,
                         'artistlisttablet' : innerWidth<997 && innerWidth>767, 
                         'artistlistmobile' : innerWidth<768}">
            <div>
                James Bay
            </div>
            <div>
                James Iha
            </div>
            <div>
                James Ivanyi
            </div>
            <div>
                Janek Gwizdala
            </div>
            <div>
                Jeremy Zucker
            </div>
            <div>
                Jesus Culture
            </div>
            <div>
                Joe Satriani
            </div>
            <div>
                John Taylor
            </div>
            <div>
                Jon Carin
            </div>
            <div>
                Jose Rios
            </div>
            <div>
                Joss Stone
            </div>
            <div>
                Jude Smith
            </div>
        </div>
    </div>
    <hr>
    <div class="artistlistinner">
        <p class="artistlistletter">K</p>
        <div [ngClass]="{'artistlistfull' : innerWidth>996,
                         'artistlisttablet' : innerWidth<997 && innerWidth>767, 
                         'artistlistmobile' : innerWidth<768}">
            <div>
                Keith McPhee
            </div>
        </div>
    </div>
    <hr>
    <div class="artistlistinner">
        <p class="artistlistletter">M</p>
        <div [ngClass]="{'artistlistfull' : innerWidth>996,
                         'artistlisttablet' : innerWidth<997 && innerWidth>767, 
                         'artistlistmobile' : innerWidth<768}">
            <div>
                Marcus Machado
            </div>
            <div>
                Mateus Asato
            </div>
            <div>
                Matt McJunkins
            </div>
            <div>
                Matthias Loescher
            </div>
            <div>
                MONO (Japan)
            </div>
            <div>
                Myles Jasnowski
            </div>
        </div>
    </div>
    <hr>
    <div class="artistlistinner">
        <p class="artistlistletter">P</p>
        <div [ngClass]="{'artistlistfull' : innerWidth>996,
                         'artistlisttablet' : innerWidth<997 && innerWidth>767, 
                         'artistlistmobile' : innerWidth<768}">
            <div>
                Paul Turner
            </div>
            <div>
                Phil Soussan
            </div>
            <div>
                Phil X
            </div>
            <div>
                Plini
            </div>
        </div>
    </div>
    <hr>
    <div class="artistlistinner">
        <p class="artistlistletter">R</p>
        <div [ngClass]="{'artistlistfull' : innerWidth>996,
                         'artistlisttablet' : innerWidth<997 && innerWidth>767, 
                         'artistlistmobile' : innerWidth<768}">
            <div>
                Rhett Shull
            </div>
        </div>
    </div>
    <hr>
    <div class="artistlistinner">
        <p class="artistlistletter">S</p>
        <div [ngClass]="{'artistlistfull' : innerWidth>996,
                         'artistlisttablet' : innerWidth<997 && innerWidth>767, 
                         'artistlistmobile' : innerWidth<768}">
            <div>
                Sarah Lipstate
            </div>
            <div>
                Sick Puppies
            </div>
            <div>
                Stan Bicknell
            </div>
        </div>
    </div>
    <hr>
    <div class="artistlistinner">
        <p class="artistlistletter">T</p>
        <div [ngClass]="{'artistlistfull' : innerWidth>996,
                         'artistlisttablet' : innerWidth<997 && innerWidth>767, 
                         'artistlistmobile' : innerWidth<768}">
            <div>
                Thaddeus Tribbet
            </div>
        </div>
    </div>
    <hr>
    <div class="artistlistinner">
        <p class="artistlistletter">V</p>
        <div [ngClass]="{'artistlistfull' : innerWidth>996,
                         'artistlisttablet' : innerWidth<997 && innerWidth>767, 
                         'artistlistmobile' : innerWidth<768}">
            <div>
                Vivian Campbell
            </div>
        </div>
    </div>
    <hr>
    <div class="artistlistinner">
        <p class="artistlistletter">W</p>
        <div [ngClass]="{'artistlistfull' : innerWidth>996,
                         'artistlisttablet' : innerWidth<997 && innerWidth>767, 
                         'artistlistmobile' : innerWidth<768}">
            <div>
                Wormrot
            </div>
        </div>
    </div>
</div>
 