.banner{
    backface-visibility: hidden;
    background: #f8f8f8;
    display: block;
    height: 100%;
    left:0;
    overflow: hidden;
    position: absolute;
    top:0;
    transform: translate3d(0,0,0);
    width: 100%;
}