<div *ngIf="innerWidth>1579" class="fullwidthcontainer"> <!--desktop-->
    <div class="bannerdiv large">
        <div class="featuredArtists">
            <h2 class="bannertitle titlelarge">FEATURED ARTISTS</h2>
            <p class="bannersmalltext">Grammy nominated indie band Sinside talk about their latest album. </p>
            <button class="readmore">READ MORE</button>
        </div> 
    </div>
    <div style="padding: 50px;" class="splitbanner splitmobile">
        <h2 class="bannertitle titlelarge">#MONOCREATORS #GOPLAY</h2>
    </div>
</div>
<div *ngIf="innerWidth<1580 && innerWidth>905" class="fullwidthcontainer"> <!--desktop/ipadpro-->
    <div>
        <div class="bannerdiv medium">
            <div class="featuredArtists">
                <h2 class="bannertitle titlelarge">FEATURED ARTISTS</h2>
                <p class="bannersmalltext">Grammy nominated indie band Sinside talk about their latest album. </p>
                <button class="readmore">READ MORE</button>
            </div> 
        </div>
    </div>
    <div style="padding: 50px;" class="splitbanner splitmobile">
    <h2 class="bannertitle titlelarge">#MONOCREATORS #GOPLAY</h2>
    </div>
</div>
<div *ngIf="innerWidth<906 && innerWidth>767" class="fullwidthcontainer"> <!--ipad-->
    <div class="wrapper">
        <div>
            <img src="assets/img/banner-medium-2.png">
        </div>
        <div class="splitbanner splittablet">
            <h2 class="bannertitle titlemedium">FEATURED ARTISTS</h2>
            <p class="bannersmalltext smallertext">Grammy nominated indie band Sinside talk about their latest album. </p>
            <button class="readmore">READ MORE</button>
        </div> 
    </div>
    <div style="padding: 30px;" class="splitbanner splitmobile">
        <h2 class="bannertitle titlemedium">#MONOCREATORS #GOPLAY</h2>
    </div>
</div>
<div *ngIf="innerWidth<768" class="fullwidthcontainer"> <!--mobile-->
    <div >
        <img src="assets/img/banner-small.png">
    </div>
    <div class="splitbanner splitmobile">
        <h2 class="bannertitle titlesmall">FEATURED ARTISTS</h2>
        <p class="bannersmalltext smallertext">Grammy nominated indie band Sinside talk about their latest album. </p>
        <button class="readmore">READ MORE</button>
    </div>
    <div style="padding: 30px;" class="splitbanner splitmobile">
        <h2 class="bannertitle titlesmall">#MONOCREATORS #GOPLAY</h2>
    </div> 
</div>


