<picture class="banner">
    <source media="(min-width: 1921px)" srcset="assets/img/banner-large-wide.jpg">
    <source media="(min-width: 1440px)" srcset="assets/img/banner-large.jpg">
    <source media="(min-width: 1200px) and (max-width: 1439px)" srcset="assets/img/banner-medium.jpg">
    <source media="(min-width: 996px) and (max-width: 1199px)" srcset="assets/img/banner-medium-1.jpg">
    <source media="(min-width: 768px) and (max-width: 995px)" srcset="assets/img/banner-medium-2.jpg">
    <source media="(max-width: 767px)" srcset="assets/img/banner-small.jpg">   
    <img alt="Featured Artists" data-lazyload="" src="assets/img/banner-large.jpg" class="bannerimg">                     
</picture>
