<div *ngIf="innerWidth>767" class="gallery">
    <div class="gallerygrid">
        <div style="height: auto;">
            <img style="border-radius: 4px;" src="assets/img/adamneely.png">
            <h2 class="galleryartistname">ADAM NEELY</h2>
        </div>
        <div style="height: auto;">
            <img style="border-radius: 4px;" src="assets/img/paulturner.png">
            <h2 class="galleryartistname">PAUL TURNER</h2>
        </div>
        <div style="height: auto;">
            <img style="border-radius: 4px;" src="assets/img/clarkkent.png">
            <h2 class="galleryartistname">CLARK KENT</h2>
        </div>
        <div style="height: auto;">
            <img style="border-radius: 4px;" src="assets/img/stanbicknell.png">
            <h2 class="galleryartistname">STAN BICKNELL</h2>
        </div>
        <div style="height: auto;">
            <img style="border-radius: 4px;" src="assets/img/joserios.png">
            <h2 class="galleryartistname">JOSE RIOS</h2>
        </div>
        <div style="height: auto;">
            <img style="border-radius: 4px;" src="assets/img/mateusasato.png">
            <h2 class="galleryartistname">MATEUS ASATO</h2>
        </div>
        <div style="height: auto;">
            <img style="border-radius: 4px;" src="assets/img/plini.png">
            <h2 class="galleryartistname">PLINI</h2>
        </div>
        <div style="height: auto;">
            <img style="border-radius: 4px;" src="assets/img/mikeblankenship.png">
            <h2 class="galleryartistname">MIKE BLANKENSHIP</h2>
        </div>
        <div style="height: auto;">
            <img style="border-radius: 4px;" src="assets/img/jonathanpereira.png">
            <h2 class="galleryartistname">JONATHAN PEREIRA</h2>
        </div>
    </div>
</div>
<div *ngIf="innerWidth<768" class="gallery">
    <carousel [height]="500" [dots]="true"[cellsToShow]="1" [arrows]="false">
        <div class="carousel-cell">
            <img src="assets/img/adamneelygallery.png">
        </div>
        <div class="carousel-cell">
            <img src="assets/img/paulturnergallery.png">
        </div>
        <div class="carousel-cell">
            <img src="assets/img/clarkkentgallery.png">
        </div>
        <div class="carousel-cell">
            <img src="assets/img/stanbicknellgallery.png">
        </div>
        <div class="carousel-cell">
            <img src="assets/img/joseriosgallery.png">
        </div>
        <div class="carousel-cell">
            <img src="assets/img/mateusasatogallery.png">
        </div>
        <div class="carousel-cell">
            <img src="assets/img/plinigallery.png">
        </div>
        <div class="carousel-cell">
            <img src="assets/img/mikeblankenshipgallery.png">
        </div>
        <div class="carousel-cell">
            <img src="assets/img/jonathanpereiragallery.png">
        </div>
    </carousel>
</div>

