<div *ngIf="innerWidth>767" class="gallery">
    <div class="gallerygrid">
        <div class="gallerygridelement">
            <img class="fullsizegalleryimg" src="assets/img/adamneely.png">
            <h2 class="galleryartistname">Adam Neely</h2>
        </div>
        <div class="gallerygridelement">
            <img class="fullsizegalleryimg" src="assets/img/paulturner.png">
            <h2 class="galleryartistname">Paul Turner</h2>
        </div>
        <div class="gallerygridelement">
            <img class="fullsizegalleryimg" src="assets/img/clarkkent.png">
            <h2 class="galleryartistname">Clark Kent</h2>
        </div>
        <div class="gallerygridelement">
            <img class="fullsizegalleryimg" src="assets/img/stanbicknell.png">
            <h2 class="galleryartistname">Stan Bicknell</h2>
        </div>
        <div class="gallerygridelement">
            <img style="border-radius: 4px;" src="assets/img/joserios.png">
            <h2 class="galleryartistname">Jose Rios</h2>
        </div>
        <div class="gallerygridelement">
            <img class="fullsizegalleryimg" src="assets/img/mateusasato.png">
            <h2 class="galleryartistname">Mateus Asato</h2>
        </div>
        <div class="gallerygridelement">
            <img class="fullsizegalleryimg" src="assets/img/plini.png">
            <h2 class="galleryartistname">Plini</h2>
        </div>
        <div class="gallerygridelement">
            <img class="fullsizegalleryimg" src="assets/img/mikeblankenship.png">
            <h2 class="galleryartistname">Mike Blankenship</h2>
        </div>
        <div class="gallerygridelement">
            <img class="fullsizegalleryimg" src="assets/img/soulmountain.png">
            <h2 class="galleryartistname">Soul Mountain</h2>
        </div>
    </div>
</div>
<div *ngIf="innerWidth<768" class="gallery">
    <carousel [height]="500" [dots]="true"[cellsToShow]="1" [arrows]="false">
        <div class="carousel-cell">
            <img src="assets/img/adamneelygallery.png">
        </div>
        <div class="carousel-cell">
            <img src="assets/img/paulturnergallery.png">
        </div>
        <div class="carousel-cell">
            <img src="assets/img/clarkkentgallery.png">
        </div>
        <div class="carousel-cell">
            <img src="assets/img/stanbicknellgallery.png">
        </div>
        <div class="carousel-cell">
            <img src="assets/img/joseriosgallery.png">
        </div>
        <div class="carousel-cell">
            <img src="assets/img/mateusasatogallery.png">
        </div>
        <div class="carousel-cell">
            <img src="assets/img/plinigallery.png">
        </div>
        <div class="carousel-cell">
            <img src="assets/img/mikeblankenshipgallery.png">
        </div>
        <div class="carousel-cell">
            <img src="assets/img/soulmountaingallery.png">
        </div>
    </carousel>
</div>

