@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";

#root, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}